{% assign home_features = site.features | where: "category", "work" %}
<div class="row">
  {% for feature in home_features %}
  <div class="col-md-6 mb-3">
    <div class="card mb-3">
      <a href="{{ feature.link }}"><img src="assets/img/{{ feature.image }}" class="card-img-top" alt="Screenshot of '{{ feature.title }}' website"></a>
      <div class="card-body border-top">
        <h3 class="card-title h5"><a href="{{ feature.link }}">{{ feature.title }}</a></h3>
        <p class="card-text">{{ feature.description }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
