<div class="bg-light py-2">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand text-decoration-none" href="{{site.baseurl}}">{{site.name}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item pr-6 pl-lg-6">
            <a class="nav-link" href="#my-work">my work</a>
          </li>
          <li class="nav-item pr-6">
            <a class="nav-link" href="#about-me">about me</a>
          </li>
          <li class="nav-item pr-6">
            <a class="nav-link" href="#connections">connections</a>
          </li>
        </ul>
        <a class="btn btn-outline-secondary text-dark mr-2 my-sm-0" href="mailto:philip.levy@hey.com?subject=I love your portfolio!">say “hey!” 👋</a>
        <a class="btn btn-outline-secondary text-dark m-2 my-sm-0" href="https://twitter.com/pglevy">follow me <i class="bi bi-twitter text-primary"></i></a>
      </div>
    </nav>
  </div>
</div>
