{% assign work_others = site.others | where: "title", "about" %}
<div class="row p-4">
  <div class="col-sm p-5">
    {% for item in work_others %}
      {{ item.content | markdownify }}
    {% endfor %}
  </div>
  <div class="col-sm p-5">
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Big data is a fancy way to say &quot;digital clutter.&quot; The reason it has more value than our extra storage spaces full of physical clutter is that it&#39;s readily accessible to machines that can analyze it for the purpose of selling us more stuff.</p>&mdash; Philip Levy (@pglevy) <a href="https://twitter.com/pglevy/status/1308798284950056967?ref_src=twsrc%5Etfw">September 23, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
