{% assign work_others = site.others | where: "title", "work" %}
<div class="row py-4 p-sm-4">
  <div class="col-sm p-sm-5">
    {% for item in work_others %}
      {{ item.content | markdownify }}
    {% endfor %}
  </div>
  <div class="col-sm p-sm-5">
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Looking at ways to apply it to the Federal Government space <a href="https://twitter.com/bixal?ref_src=twsrc%5Etfw">@bixal</a>. On a personal note, using some of the concepts with my teen and pre-teen to get them thinking more entrepreneurially.</p>&mdash; Philip Levy (@pglevy) <a href="https://twitter.com/pglevy/status/1281365286252421120?ref_src=twsrc%5Etfw">July 9, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
