<section class="bg-secondary-lightest pt-6">
  <div class="container">

    <h2 id="my-work">My Work</h2>
    <p class="lead">Here are some examples of my recent work. It's split between things I do with my colleagues at work and things I do with my family at home, where I play different but complementary roles.</p>

    <h3 class="mt-4"><em>@Work</em>: Employee Experience Designer</h3>
    <p>I lead a team of seven experience designers and researchers at <a href="https://www.bixal.com/">Bixal</a> where we're using human-centered design and agile mindsets and methods to improve the customer experience of the federal government.</p>

    {% include features-work.html %}

    {% include others-work.html %}

  </div>
</section>

<section class="bg-primary-lightest pt-6">
  <div class="container">

    <h3 class="mt-4"><em>@Home</em>: Chief Entrepreneurship Officer</h3>
    <p>Our family of four runs a modified version of "startup and experiment cycles," inspired by <a href="https://basecamp.com/shapeup/"><em>Shape Up</em></a>, to encourage an entrepreneurial mindset and practice. These are some of our projects over the past year.</p>

    {% include features-home.html %}

    {% include others-home.html %}

  </div>
</section>
