---
---

// 👆 Remember the front matter dashes.

//////////////
// Typography
//////////////

// Import Google Font.
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap');

// Copy the Bootstrap $font-family-sans-serif to make adjustments and reuse in $font-family-base.
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
// $font-family-base:            'Work Sans', $font-family-sans-serif !default;
$font-size-base:              1.125rem;

// Set font for headings.
$headings-font-family:        'Work Sans', serif;
$headings-font-weight:        600;


//////////////
// Color
//////////////

// Set the primary and secondary brand colors.
$primary:    #1976D2;
$secondary:    #FFC107;

// Create variations because Bootstrap doesn't handle this well yet.
// $primary-light: ;
// $primary-dark: ;
// $secondary-light: ;
// $secondary-dark: ;

$primary-background: #E3F2FD;
$secondary-background: #FFF8E1;

// Set this value low enough to ensure you get WCAG-compliant color contrast when Bootstrap auto-selects foreground color based on background color. Double check the result.
// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  100;

// Set the named colors used for feedback.
// Success
// $green:   #28a745 !default;
// Info
// $cyan:    #17a2b8 !default;
// Warning
// $yellow:  #ffc107 !default;
// Danger
// $red:     #dc3545 !default;

// Grays
// Go with default grays for now.

// Links
//
// Style anchor elements.

// $link-color:                              theme-color("primary") !default;
$link-decoration:                         underline;
// $link-hover-color:                        darken($link-color, 15%) !default;
$link-hover-decoration:                   none;


$headings-color:              $primary;

//////////////
// Spacing
//////////////

// Replace spacer 5 and add some spacers to the existing map.
$spacer: 1rem; //default
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 2),
  6: ($spacer * 3),
  7: ($spacer * 3.5),
  8: ($spacer * 4),
  9: ($spacer * 4.5)
);

// Use the spacers for button and input padding and adjust for base-8 approach.
$input-btn-padding-y:         .5rem;
$input-btn-padding-x:         1rem;

$input-btn-padding-y-sm:      .25rem;
$input-btn-padding-x-sm:      .5rem;

$input-btn-padding-y-lg:      1rem;
$input-btn-padding-x-lg:      1.5rem;

// Ad-hoc styling
$card-border-color:                 rgba($secondary, 1.0);
$card-border-width:                 2px;

$border-width:                2px;

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.bg-primary-lightest {
  background-color: $primary-background;
}

.bg-secondary-lightest {
  background-color: $secondary-background;
}

.card {
  height: 100%;
}

.bg-hero {
  padding-top: 18rem;
  background-image: url('{{site.baseurl}}/assets/img/mark-asthoff-Pk8t4cL2pkw-unsplash.jpg');
  background-position: 50% 70%;
  background-size: auto;
  border-top: 4px $primary solid;
  border-bottom: 4px $secondary solid;
  background-blend-mode: multiply;
}

.bg-hero h1 {
  letter-spacing: .0875em;
}

.navbar {
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.nav-link {
  color: $gray-700 !important;
  border-bottom: 2px solid $gray-100;
}

a.nav-link:hover, a.nav-link:focus, a.nav-link:active {
  border-bottom: 2px solid $secondary;
}

a.navbar-brand:hover, a.navbar-brand:focus, a.navbar-brand:active {
  color: $primary !important;
}
