<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Hi! I’m Philip. Welcome to my portfolio.">

    <!-- realfavicongenerator.net -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#1976d2">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">

    <title>{{ site.name }}</title>
  </head>
  <body>
      {% include nav.html %}

      {% assign this_section = site.sections | where: "title", "Hero" %}
        {% for section in this_section %}
          {{ section }}
        {% endfor %}

      {% assign this_section = site.sections | where: "title", "At Work" %}
        {% for section in this_section %}
          {{ section }}
        {% endfor %}

      {% assign this_section = site.sections | where: "title", "About" %}
        {% for section in this_section %}
          {{ section }}
        {% endfor %}

      {% assign this_section = site.sections | where: "title", "Connections" %}
        {% for section in this_section %}
          {{ section }}
        {% endfor %}

    <!--
    <span>Photo by <a href="https://unsplash.com/@qa9de?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Mark Asthoff</a> on <a href="https://unsplash.com/s/photos/blue-sky?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
    -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.bundle.js.map"></script>
  </body>
</html>
